<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display: flex; justify-content: space-between">
    <div>
        <h1>In memory</h1>
        <ul>
            {% for employee in employees %}
                <li>
                    <div>
                        {{ employee.first_name }} {{ employee.last_name }}
                    </div>
                    <div>
                        {{ employee.email_address }}
                    </div>
                </li>
{#                <a href="{% url 'delete employee' pk=employee.pk %}">Delete</a>#}
            {% endfor %}
        </ul>
    </div>

    <div>
        <h1>From DB</h1>
        <ul>
            {% for employee in employees2 %}
                <li>
                    <div>
                        {{ employee.first_name }} {{ employee.last_name }}
                    </div>
                    <div>
                        {{ employee.email_address }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<h1>
    {{ department.name }}
</h1>

</body>
</html>