{% extends 'base.html' %}
{% load my_filter %}
{% load tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Employee names: {{ first_name }} {{ last_name }}</h1>
<h2>Department: {{ department }}</h2>
<h3>Email Address: {{ email_address }}</h3>
<div>{{ info.name }}</div>
<span>{{ info.name|truncatechars:11 }}</span>
<span>{{ info.name|truncatewords:1 }}</span>
<div>{{ info.age }}</div>
<div>{{ this_is_function }}</div>
<div>{{ person.get_info }}</div>
<div>{{ people|join:', ' }}</div>
<div>{{ people|length }}</div>
<div>{{ sum }}</div>
<div>{{ sum|floatformat:3 }}</div>
<div>{{ sum|floatformat:2 }}</div>

<div>
    {% if employees_list %}
        Number of employees: {{ employees_list|length }}
    {% elif selected_candidates %}
        Number of candidates {{ selected_candidates|length }}
    {% else %}
        No employees or candidates!
    {% endif %}
</div>

<div>
    {% if employees_list and selected_candidates %}
        Not empty!
    {% elif employees_list or selected_candidates %}
        At least one is not empty!
    {% else %}
        Empty!
    {% endif %}
</div>

<div>
    {% if employees_list|length < 10 %}
        Not enough employees
    {% elif employees_list > 10 %}
        Enough employees
    {% endif %}
</div>

<div>
    {% for employee in employees %}
        <li>{{ employee.first_name }}</li>
    {% empty %}
        <li>No employees in this list.</li>
    {% endfor %}
</div>

{#Not working!#}
{#<ul>{% url 'redirect to home' department.id %}</ul>#}

<div>Odd numbers: {{ nums|odd }}</div>

<section>
    <ul>
        {% for student in students_obj %}
            <li>{% show_student_info student %}</li>
        {% endfor %}
    </ul>
</section>
{{ block.super }}

{% block title %}My amazing block!{% endblock %}

{% block content %}
    {% include 'departments/includes/nav-bar.html' %}
    {% for entry in blog_entries %}
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.body }}</p>
    {% endfor %}
{% endblock %}


</body>
</html>