{% extends 'shared/base.html' %}

{% block main_content %}

    <!-- Title of the Page -->
    <h2>Current Events</h2>

    <!-- The Main Content for the Dashboard Event section -->
    <section id="dashboard">

        {% if not events %}
            <h4>There are no Events in the Dashboard!</h4>

        {% else %}
            {% for event in events %}
                <div class="event">
                    <img src="{{ event.event_image }}" alt="{{ event.event_name }} Image"/>

                    <div class="event-details">
                        <p class="title">
                            {{ event.event_name }}
                        </p>

                        <p class="date">{{ event.date|date:"d.m.Y" }}</p>
                    </div>

                    <a class="details-btn" href="{% url 'event details page' pk=event.pk %}">Details</a>
                </div>
            {% endfor %}

        {% endif %}
    </section>

{% endblock %}