{% load static %}
{% load filters %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    HTML Nav:
    <nav>
        <a href="{% url 'index' %}">Go to home</a>
    </nav>

    Tag Nav:
{#    {% app_nav 'index' 'redirect to home' %}#}
    {% app_nav 'index' 'redirect to home' 'about' %}
    {#{{ csrf_token }}#}
    {% csrf_token %}

    {% block page_content %}
    {% endblock %}

</body>
</html>